* {
  box-sizing: border-box;
  font-family: 'Lato', sans-serif;
}

html,
body {
  margin: 0;
  padding: 0;
}

.intro-chunk {
  width: 40%;
  padding: 1rem;
}

strong { color: hsl(160deg, 100%, 30%)}

.title {
  font-size: 1.25rem;
}

/* max-width-wrapper covers 2X divs - header and section */
.max-width-wrapper {
  max-width: 1000px;
  min-width: 500px;
  margin-left: auto;
  margin-right: auto;
  padding-left: 16px;
  padding-right: 16px;
}
main {
  background-color: hsl(0deg, 0%, 60%);
  border-top: solid 8px hsl(0deg, 0%, 40%);
  padding: 2.5rem 0;
}

.card {
  width: 70%;
  background-color: white;
  border-bottom: solid 8px hsl(0deg, 0%, 40%);
  padding: 1rem;

}

.indented-heading {
  background-color: hsl(45deg, 100%, 50%);
  border-bottom: solid 8px hsl(45deg, 100%, 40%);
  padding: 1rem 1.5rem;
  width: fit-content;
  width: -moz-fit-content;
  margin-left: -1.5rem;
  margin-top: -0.5rem;
}
 